# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# VS Code
.vscode/

# Environment Variables
.env

# Uploaded Files
static/uploads/*
!static/uploads/.gitkeep

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# PDF Reports
Resume_Report.pdf